/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url('media/imagenes/futuramaportada.jpg'); /* Reemplaza con el path correcto */
    background-size: cover; /* Ajusta la imagen para que cubra todo el header */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    color: white; /* Cambia el color del texto si es necesario */
    padding: 50px; /* Ajusta el espacio dentro del header */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 60px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.container {
    max-width: 1200px; /* Ancho máximo para el contenido */
    margin: auto; /* Centra el contenido */
    padding: 20px; /* Espaciado interno */
}

.video-list {
    padding: 20px;
}

.video-container {
    background-color: white; /* Fondo blanco para el contenedor del video */
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin: 20px 0; /* Espacio entre contenedores de video */
    padding: 15px;
    transition: transform 0.3s; /* Efecto de hover */
}

.video-container:hover {
    transform: translateY(-5px); /* Eleva el contenedor al pasar el mouse */
}

video {
    width: 30%; /* O el tamaño que desees */
    border-radius: 12px;
    margin: 10px auto; /* Margen automático en los lados izquierdo y derecho */
    display: block; /* Hace que el video se comporte como un bloque */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    color: #007BFF; /* Color para los títulos de los videos */
    margin: 0;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
}

.button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333; /* Fondo oscuro */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    font-size: 14px;
}
