body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}*/

header {
    background-image: url('media/imagenes/futuramaportada.jpg'); /* Reemplaza con el path correcto */
    background-size: cover; /* Ajusta la imagen para que cubra todo el header */
      background-position: center; /* Centra la imagen */
      background-repeat: no-repeat; /* Evita que se repita */
      color: white; /* Cambia el color del texto si es necesario */
      padding: 5px; /* Ajusta el espacio dentro del header */
      text-align: center;
  }

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.video-container {
    margin: 20px;
    max-width: 400px;
}

video {
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
}
